.hero {
    height: 75vh;
    background-image: url("../../assets/depositphotos_174625904-stock-photo-top-view-spices-vegetables-gray.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}